@import 'assets/_colors.scss';

.button {
    padding: 20px;
    background: $cl-grey3;
    border: 1px solid $cl-grey3;
    font: 100 1.3em 'Open Sans', sans-serif;
    color: $cl-white;

    &.button--primary {
    margin-left: 70px;
    margin-top: 60px;
    width: 190px;
    height: 60px; 
    }
    &:hover {
        background: $cl-pink;
    }
    &.button--submit {
        width: 300px;
        height: 60px;
        margin-top: 20px;
        margin-left: 90px;
    }
}