.button {
    padding: 20px;
    background: rgb(59, 50, 92);
    border: 1px solid rgb(59, 50, 92);
    font: 100 1.3em 'Open Sans', sans-serif;
    color: #fff;

    &.button--primary {
    margin-left: 70px;
    margin-top: 60px;
    width: 190px;
    height: 60px; 
    }
    &:hover {
        background: #ff20c7;
    }
    &.button--submit {
        width: 300px;
        height: 60px;
        margin-top: 20px;
        margin-left: 90px;
    }
}