@import 'assets/_colors.scss';
@import 'assets/_mixins.scss';

.button {
  padding: 20px;
  background: $cl-grey3;
  border: 1px solid $cl-grey3;
  font: 100 1.3em/1em 'Open Sans', sans-serif;
  color: $cl-white;
  display: block;
  width: 150px;
  height: 10px;
  text-decoration: none;
  text-align: center;

  @include breakpoint(desktop_big) {
    padding: 40px;
    font-size: 2em;
    line-height: 0.5;
  }

  &.button--primary {
    margin-top: 40px;
  }

  &.button--secondary {
    margin-bottom: 40px;
    margin-top: 40px;
  }

  &:hover {
    background: $cl-pink;
  }

  &.button--submit {
    width: 40%;
    height: 60px;
    margin-top: 20px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    @include breakpoint(tablet_big) {
      width: 20%;
      transform: none;
    }
  }

  &.button--mrlr10 {
    margin-left: 10px;
    margin-right: 10px;
    color: $cl-white;
  }
}
