@import 'assets/_mixins.scss';

.content {
  height: 100%;

  .content__item {
    float: left;
    box-sizing: border-box;
  }

  .content__item--primary {
    width: 20%;
    background-image: linear-gradient(to left, #251340, #3c1d4e, #54285c, #6d3368, #863f74);
    display: none;
    height: 100%;

    @include breakpoint(tablet_big) {
      display: block;
    }
  }

  .content__item--secondary {
    width: 100%;
    background-image: linear-gradient(to left, #251340, #22113c, #200f39, #1d0d35, #1b0a32);
    padding: 20px;

    @include breakpoint(tablet_big) {
      width: 80%;
      padding: 60px;
    }

    @include breakpoint(desktop_small) {
      padding: 30px;
    }
  }
}

