.menu {
    font: 100 1.2em 'Open Sans', sans-serif;
  
     &__items {
        list-style: none;
        padding: 20px;
        margin-top: 15px;
        
        &:hover {
            background: rgba(255, 255, 255, 0.1);
        }
    }
     &--links {
        text-decoration: none;
        color: rgb(216, 216, 216);   
    }
    &__wrapper {
        list-style: none;
        margin-top: 40px;
    }
}