@import 'assets/_colors.scss';
@import 'assets/_mixins.scss';

.menu {
    font: 100 1.8em 'Open Sans', sans-serif;
    @include breakpoint(desktop_big) {
        font-size: 2.5em;
        margin-top: 60px;
    }
     &__item {
        list-style: none;
        padding: 20px;
        margin-top: 15px;
        
        &:hover {
            background: $cl-grey4;
        }
    }
     &__link {
        text-decoration: none;
        color: $cl-darkwhite;   
    }
    &__wrapper {
        list-style: none;
        margin-top: 40px;
    }
}