@import 'assets/_colors.scss';

.title {
    font: 100 2.5em 'Open Sans', sans-serif;
    color: $cl-white;

    &--primary {
        margin-top: 110px;
        margin-left: 100px;
        display: inline-block;  
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 2px;
            background: $cl-pink;
            position: relative;
            left: 0;
            bottom: -3px;
          } 
    }
    &--secondary {
        margin-top: 100px;
        margin-left: 70px; 
        font-size: 5em;
    }
    &--tertiary {
        color: $cl-pink;
        margin-left: 70px;
        margin-top: 10px;  
    }
    &--quaternary {
        margin-left: 70px;
        margin-top: 60px;
        font: 100 1.5em 'Open Sans', sans-serif;
        color: $cl-grey2;
    }
}