@import '_reset.scss';
@import '_menu.scss';
@import '_title.scss';
@import '_button.scss';
@import '_form.scss';
@import '_content.scss';

.bitmoji {
    width: 145px;
    height: 145px;
    margin-top: 115px;
    margin-left: 60px;
    border: solid 2px #000;
    border-radius: 145px;
    background-color: #fff;
    box-sizing: border-box;
}
.fa {
    padding: 15px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    color: rgb(148, 148, 148);
  }

.icons {
      margin-top: 65px;
      margin-left: 15px;
  }
a:hover {
      color: #ff20c7;
  }

.dot {
        height: 15px;
        width: 15px;
        background-color: #ff20c7;
        border-radius: 50%;
        display: inline-block;
      }
h4 {
    width: 550px;
    margin-left: 70px;
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
    color: rgba(255, 255, 255, 0.459);
}
.span{
    color: #ff20c7;
}
//work
#share {
    font-size: 35px;
    float: right;
    margin-top: 20px;
    margin-right: 50px;
}