html {
    font-family: "Chicago";
    font-size: xx-large;
}

body h1 p ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.app{

    width: 720px;
    margin: auto;
}

.banner {
    background: url('http://g1.gazetaprawna.pl/p/_wspolne/pliki/1954000/1954473-himalaje-gory.jpg') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}

/* ------------ */

.menu ul{
    display: flex;
    justify-content: center;
}

.menu a{
    padding: 5px 10px;
    background: #EE82EE;
    color: #4B0082;
    text-decoration: none;
    margin: 0px 10px;
} 

.menu a:hover {
    color: #3300CC;
}

/* ------------- */

.gallery ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.gallery img {
    width: 320px;
    height: 200px;
}

/* ------------ */

.scrollTopButton {
    width: 64xp;
    height: 64px;
    position: fixed;
    visibility: hidden;
    overflow: hidden;
    z-index: 999999;
    background-image: url('https://cdn0.iconfinder.com/data/icons/navigation-set-arrows-part-one/32/ChevronUpCircle-64.png');
    right: 30px;
    bottom: 30px;
    transition: all 0.5s ease-in-out;
}

 .show {
    visibility: visible;
    cursor: pointer;
    transition: all 0.5s ease-in-out;

}

/* ---------- */

footer {
    margin: top 20px;
    height: 140px;
    background: rgba(165, 169, 173, 0.6);
    
}

footer p {
    color: #fff;
    text-align: center;    
    margin-right: 20px;
    font-size: small;
}
.fa {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}
.fa:hover {
    opacity: 0.7;
}
.fa-instagram {
    background: #125688;
    color: white;
}

 .fa-youtube {
        background: #bb0000;
        color: white;
      }
      
      .fa-facebook {
        background: #3B5998;
        color: white;
      }
      