html {
    font-family: "Chicago";
    font-size: xx-large;
}

body h1 p ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

.app{

    width: 720px;
    margin: auto;
}

.banner {
    background: url('http://g1.gazetaprawna.pl/p/_wspolne/pliki/1954000/1954473-himalaje-gory.jpg') no-repeat center center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;

}

/* ------------ */

.menu ul{
    display: flex;
    justify-content: center;
}

.menu a{
    padding: 5px 10px;
    background: #EE82EE;
    color: #4B0082;
    text-decoration: none;
    margin: 0px 10px;
} 

.menu a:hover {
    color: #3300CC;
}

/* ------------- */

.gallery ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

}

.gallery img {
    width: 320px;
    height: 200px;
}