$cl-black: #000;
$cl-white: #fff;
$cl-grey: rgb(148, 148, 148);
$cl-pink: #ff20c7;
$cl-grey2: rgba(255, 255, 255, 0.925);
$cl-grey3: rgb(59, 50, 92);
$cl-darkwhite: rgb(216, 216, 216);
$cl-grey4: rgba(255, 255, 255, 0.1);
$cl-grey5: rgba(255, 255, 255, 0.459);